{
  "ConnectionStrings": {
    "Default": "server=.;initial catalog=Desk.Test;integrated security=False;User ID=akn;Password=123456;multipleactiveresultsets=True;TrustServerCertificate=True;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Jwt": {
    "Secret": "3a4383ececd04edaafa119245c1179d0",
    "ExparedInMinutes": 20,
    "Issuer": "JWTAuthenticationServer",
    "Audience": "JWTServicePostmanClient"
  },
  "AllowedHosts": "*"
}