{
  "ConnectionStrings": {
    "Default": "Server=db;Initial Catalog=Desk;User Id=sa;Password=vV5r9tn0M4@;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Jwt": {
    "Secret": "ockE3mh_EEWXoaH65v5t2g",
    "ExparedInMinutes": 20,
    "Issuer": "JWTAuthenticationServer",
    "Audience": "JWTServicePostmanClient"
  },
  "AllowedHosts": "*"
}